html{
    font-family: 'Roboto', sans-serif;
}
.color1{
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: #a60f07;
}
header{
    margin-top:-8px;
    margin-left:12.5%;
    margin-right:12.5%;
    background-color: #a60f07;
    display: flex;
}
header img{
    margin-right: auto;
    display: inline;
    padding:5px;
    padding-left: 0;
    width: 25%;
    min-width: 65px;
}
#headerLogo{
    flex:2 1 1;
}
#header-empty{
    flex:1;
}
.header-link{
    padding: 5px;
    color:white;
    font-weight: bolder;
    font-size: larger;
    vertical-align: middle;
    flex:0.5;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
}
